body {
  display: flex;
  background-color: $black;
  color: white;
  font-family: $bodyFont;
}

.leftSection {
  width: 400px;
}

.rightSection {
  flex: 1;
}

// *************
// typography
// *************
h1 {
  font-size: 2.5rem;
  font-family: $headerFont;
  line-height: 1.5;
}

h3 {
  font-family: $headerFont;
  font-size: 2rem;
  margin-top: 50px;
}

li,
a,
button {
  color: $grey;
  font-size: 1.2rem;
  text-decoration: none;
}

p {
  font-size: 1.3rem;
  color: $grey;
}
